/*
 * CSS by Janiko
*/


html > body { 
	font-family: PT Sans, Roboto,Candara, Calibri, sans-serif;
  font-size: 11px;
  width: 98%;
}

.red { color: red; }
.green { color:ForestGreen; }
.purple { color:purple; }
.yellow { color:olive; }
.inline { 
  display: -moz-inline-box; 
  display: inline-block; 
}
.col-250 { width:250px; }
.col-700 { width:700px; }
.table_certif { text-align:left; }
.table_algos { text-align:left; }
th { text-align:left; }

table {
  font-size: 1em;
  width: 100%;}


.table_header {
  font-size: 2em;
  color:chocolate;
  padding-top: 16px;
  padding-bottom: 16px;
}

h1 {
  font-size: 2.4em;
  color:chocolate;
  border-bottom: 1px solid chocolate;
}

h2 {
  font-size: 2em;
  color:chocolate;
}

h3 {
  font-size: 1.8em;
  color:chocolate;
}

h4 {
  font-size: 1.4em;
  color:chocolate;
}

h5 {
  font-size: 1.2em;
  color:chocolate;
}

h6 {
  font-size: 1.05em;
  color:chocolate;
}

p {
  font-size: 1em;
  margin-top: 3px;
  margin-bottom: 3px;
}

tr th {
  font-size: 1.1em;
  vertical-align: top;
  width: 250px;
}

tr td, td {
  font-size: 1em;
  vertical-align: top;
  word-break: break-all;
}

level1 {
  width: 80%
}

.full_table {
    width: 98%;
}

.accepted_suites {
    border-spacing: 0px;
}

.named_group {
    color: green;
}

.accepted_suites_name {
    color: green;
    width: 25%;
}
.accepted_suites_value {
    color: green;
    width: 15%;
}

.simulation_header, .endpoint_detail_header, .certificates_header, .protocols_header {
    font-size: 1.2em;
    padding-top: 8px;
    padding-bottom: 8px;
    color:chocolate;
}

.host_header {
    font-size: 1.6em;
    padding-top: 8px;
    padding-bottom: 8px;
    color:chocolate;
}

.certificate_header_CN {
    font-size: 1.4em;
    padding-top: 8px;
    padding-bottom: 8px;
    color:chocolate;
}

.simulation_OS {
    font-weight: normal;
}

.sim_os_suites_name {
    color: green;
    width: 25%;
}
.sim_os_suites_value {
    color: green;
    width: 15%;
}

.content_name {
    color: DarkGray;
}

.content_value {
    color: black;
}

.content_light_error {
    color: #f69c41;
}

.current_grade {
    width:10px;
    vertical-align:middle;
    text-align:center;
    font-weight: bold;
}

.table_grade {
    width: 120px;
}

.hidden_grade {
    width:10px;
    vertical-align:middle;
    text-align:center;
    opacity: 0.3;
    font-weight: normal;
}

.tr_grade {
    width:120px; 
    border: 1px solid gray;
    line-height:14px;
}
